<div class="profile container" id="top">
    <div class="row ">
  <div class="col-md-5">
      <img src="https://www.linkedin.com/mpr/mpr/AAEAAQAAAAAAAAl0AAAAJDBlZDg4ZTZkLTVkMGItNGE0OS04Zjg2LTgxMDJjZjE3ZmI3OQ.jpg" class="profile-pic" alt="Brandon Winborne"> <br>
  </div>
  <div class="col-md-5">
  <span id="name">Brandon Winborne</span>
  <p id="profession"> Web Developer </p>
  <span>
  <a href="/bio">About</a>
  <a href="/projects">Projects</a>
  <a href="/contact">Contact</a>
  </span><br>
  <span>
    <a href="https://www.linkedin.com/in/brandon-winborne-6ab709b8/"> <i class="fa fa-linkedin-square"> Linkedin </i></a>
    <a href="https://github.com/kishfox"> <i class="fa fa-github-square">Git Hub</i></a>
    </span>
    </div>
    </div>
</div>