
  <span>
   This sketch of a portfolio site was built using Ruby on Rails. The source is available on my github.
   I'm not a designer, but this should illustrate use of models, views, and controllers with Rails routes.
  </span>
