<span><strong>eFurry - Social Network catering to the furry fandom.</strong></span>
<p>This has been an on-going project. I prototyped this application on a wordpress platform, and the performance overhead is much too great to even use
as a prototype. As such, I am re-writing this application and expanding its scope. Currently I am deciding to use Rails or Meteor. The latter has the
benefit of rapid development, at the cost of stability. Meteor cannot process files larger than 1.7 GB due to the way it imports its file system to node.
In the end, the production application will likely be built upon rails.</p>
<span><strong>Commissionr - listing engine to connect artists and art-buyers.</strong></span>
<p>Another prototype done on the wordpress platform. This one is a toss-up between django and rails, 
meteor would quickly become overwhelmed with its memory allowance.</p>