<br>
<h4>Basics</h4>
<p>Born 24 years ago in Texas, now in Pennsylvania. I'm a life-long geek, aspiring to learn and achieve everything I can
as a developer. My primary interest is in web and mobile applications, and I'm making progress in adding to my technical toolbox.
I'm a musician, enjoying a broad range of genres and styles, and like to unwind by practicing either my music or my programming.</p>
<h4>Education</h4>
<p>I graduated Highschool in 2011. In 2012, I started community college, studying toward an associates degree in nursing. 
After a time of reflection and reevaluation of my goals, I made the move to get into the IT and Development Field.
Having been a tech-nut my entire life,
it felt natural. I then moved to pursue a Bachelor's degree in Cybersecurity from Kaplan university Online. 
It was during this round that I decided Development was more my style.
I've switched majors to Mobile Applications Software Engineering and will begin those courses in the fall.</p>
<h4>Employment</h4>
<span><strong>Harley-Davidson Motor Company - GIS Manufacturing Support Analyst - Sep. 2016 - Present.</strong> </span><br>
<p>Daily Maintenance and Monitoring of SAP ME and MII systems.<br> Tier-1 Support for assembly systems. Tier 2/3 support for other areas.<br>
Continuous Improvement in process and systems. <br> oversight of maintenance and scheduled patch deployments</p>
<span><strong>Global Data Consultants - Helpdesk Analyst - Jan. 2016 - Jun. 2016</strong></span><br>
<p>My primary responsibility was to answer tickets and support phone calls for a Cyber Charter school. I was a part of a team of 10 - 12 people,
Answering support requests for upwards of 10,000 students. </p>
<span><strong>Venodeon, LLC - Apr 2014 – Jun 2015</strong></span><br>
<p>This 'job' was for a friend-of-a-friend's start up, providing compute power and application hosting through VPS solutions. I was tasked with 
developing their website, integrating it with their billing solution (WHMCS), and often took part in the design and implementation of the back-end processes
the engineers were developing, such as automating accounting/billing and server provisioning.</p>