<!DOCTYPE html>
<html>
<head>
  <!-- Font Awesome -->
<link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">

  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="bg-tint">
</div>
<div class="container">
  <div class = "row">
    <div class="col-md-2 sideBar">
      
    </div>
    <div class="col-md-8 content">
      <div class="profile" id="top">
  <img src="https://www.linkedin.com/mpr/mpr/AAEAAQAAAAAAAAl0AAAAJDBlZDg4ZTZkLTVkMGItNGE0OS04Zjg2LTgxMDJjZjE3ZmI3OQ.jpg" class="profile-pic" alt="Brandon Winborne"> <br>
  <span id="name">Brandon Winborne</span>
  <p id="profession"> Web Developer </p>
  <span>
    <a href="/">Home</a>
  <a href="/bio">About</a>
  <a href="/projects">Projects</a>
  <a href="/contact">Contact</a>
  </span><br>
 

    <%= yield %>
     <span>
    <a href="https://www.linkedin.com/in/brandon-winborne-6ab709b8/"> <i class="fa fa-linkedin-square"> Linkedin </i></a>
    <a href="https://github.com/kishfox"> <i class="fa fa-github-square">Git Hub</i></a>
    <a href="http://codepen.io/kishfox/">C<i class="fa fa-codepen"></i>DEPEN</a>
    </span>
    </div>
    </div>
    <div class="col-md-2 sideBar">
      
      
    </div>
  </div>
</div>
</body>
</html>
